page-pag-chaq4 {
    ion-content{
        background-image: url(../../assets/imgs/azulc.jpg);
        background-repeat: no-repeat ;
        background-size: cover ;
        background-position: center ;}
}
